body {
    margin: 0%;
    background-color: #7D8491
}
.input{
    width: 80%;
    margin-left: 10%
}
.entry {
    border-radius: 3px;
    border: black solid 1px;
    font-size: auto;
    color: white;
    background-color: #7D8491;
    padding: 1%;
    margin: 0.97%;
    width: 12%;
    display: grid;
    text-align: center;
  }

  .containers{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 2%;
      /* justify-content: flex-start; */
  }

  .list {
    margin: 0% 0  10% 0%;
    width: 100%;
    align-content: flex-start;
    justify-content: flex-start;
    border: 1px double grey;
    background-color: #EAF0CE;
  }

  .days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 4%;
    margin-left: 2.5%;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .day {
    font-size: 130%;
    padding: 1%;
    margin: 1%;
    width: 12.25%;
    color: rgb(250, 250, 250);
    display:grid;
    text-align: center;
    border-left: solid black 2px;
    border-right: solid black 2px;
    border-top: solid black 2px;
  }

  .btn-delete{
    background-color: #520000;
    color: white;
    border: black solid;
    margin: 1%;
    font-size: 100%;
  }

  .btn-edit{
    background-color: #a57f01;
    color: white;
    border: black solid;
    margin: 1%;
    font-size: 100%;
  }

  .btn-close{
    background-color: #ff4617;
    color: white;
    border: black solid;
    margin: 1%;
    font-size: 100%;
  }

  .edit_button{
    background-color: #3F334D;
    color: white;
    border: black solid;
    font-size: 90%;
  }

  .header {
    font-weight: bold;
    font-size:300%;
    text-align: center;
    color: white;
  }

  
  .footer {
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    color: white;
  }

  .btn-success {
    background-color: #3F334D;
    color: white;
    border: black solid;
    margin: 1%;
    font-size: 140%;
  }